	body {
			margin: 0;
			padding: 0;
			background-color: #000;
		}
		/*.map {
			height: 100vh;
			width: auto;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			z-index: -1;
		}
		.container {
			width:fit-content;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;
		}*/
		/*.circle {
			background-color: springgreen;
			position: relative;
			width: 40px;
			height: 40px;
			top: -20px;
			left: 20px;
			border-radius: 50%;
			box-shadow: 0px 0px 10px 20px springgreen;*/
		}
		svg {
			position: absolute;
			right: 8%;
		}

		path {
			stroke: springgreen;
			stroke-width: 3px;
			fill: none;
		}

		.green {
			height: 100vh;
			width: 100vw;
			background-color: green;
			position: absolute;
			mix-blend-mode: multiply;
		}

		.screensaver {
			display: none;
			position: absolute;
			left: 500px;
			top: 500px;
			width: 300px;
			height: 300px;
			z-index: 1;
		}

/*.map:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
	/*background: rgba(0,200,20, 0.5);*/
/*}*/

/*.map {
	width: 100vw;
	height: 100vw;
	background-image: url("RossieCordovaWeb_timelapse_0001.jpg");
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

.spotlight {
	width: 5%;
	height: 5%;
	border-radius: 50%;
	left: 0;
	background: white;
	position: absolute;
	mix-blend-mode: exclusion;
	opacity: 0.75;
	animation: circleMove 10s infinite;
	box-shadow: 0 0 5px 5px white;
}

@keyframes circleMove {
	0% {
		left: 0;
		top: 0;
	}
	20%, 80% {
		left: 90%;
		top: 25%;
	}
	100% {
		left: 20%;
		top: 60%;
	}
}*/